.example-spacer {
    flex: 1 1 auto;
}

/*
    1) Santi: Aplica estilos generales según margen o ancho de una pantalla
    2) Mili: Permiten aplicar estilos diferentes según el tamaño o resolución de una pantalla (px)
    3) Cris: Reglas condicionales de estilos si aplican cierta condición
*/

/* CORRESPONDEN A PANTALLAS MÁS PEQUEÑAS -> ej.: celulares */
@media (min-width: 300px) and (max-width: 700px) {
    mat-toolbar {
        background: rgb(99,99,122);
        background: linear-gradient(90deg, rgba(99,99,122,1) 0%, rgba(74,74,125,1) 27%, rgba(95,85,171,1) 50%, rgba(32,17,34,1) 100%);
        color: antiquewhite;
    }

    #menuInicio {
        display: none;
    }

    #menuProducto {
        display: none;
    }
}

/* ENCAPSULA ESTILOS PARA PANTALLAS MÁS GRANDES -> ej.: computadora, televisor */
@media (min-width: 700px) {
    mat-toolbar {
        background: rgb(99,99,122);
background: linear-gradient(90deg, rgba(99,99,122,1) 0%, rgba(74,74,125,1) 27%, rgba(95,85,171,1) 50%, rgba(32,17,34,1) 100%);
        color: antiquewhite;
       
    }

    #menuSecciones {
        display: none;
    }
}


/*cambiamos el color del navbar*/

.span{
    color: black;
    
}


.logo {
    width: 80px;  /* Ancho de 100 píxeles */
    height: 80px; /* Alto de 100 píxeles */
    object-fit: contain; /* Mantiene la proporción de la imagen */
    cursor: pointer;

}

button{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em; /* Ajusta el tamaño según lo necesites */
  }
  
  .logo-container {
    margin-right: 16px; /* Espacio entre logo y título */
  }
  


  .navbar {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px;
  }
  


  .title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
    color: rgb(21, 21, 26);
      padding-right: 110px;
  }