.example-spacer {
    flex: 1 1 auto;
}

/*
    1) Santi: Aplica estilos generales según margen o ancho de una pantalla
    2) Mili: Permiten aplicar estilos diferentes según el tamaño o resolución de una pantalla (px)
    3) Cris: Reglas condicionales de estilos si aplican cierta condición
*/

/* CORRESPONDEN A PANTALLAS MÁS PEQUEÑAS -> ej.: celulares */
@media (min-width: 300px) and (max-width: 700px) {
    mat-toolbar {
        background: rgb(99,99,122);
        background: linear-gradient(90deg, rgba(99,99,122,1) 0%, rgba(74,74,125,1) 27%, rgba(95,85,171,1) 50%, rgba(32,17,34,1) 100%);
        color: antiquewhite;
    }

    #menuInicio {
        display: none;
    }

    #menuProducto {
        display: none;
    }
}

/* ENCAPSULA ESTILOS PARA PANTALLAS MÁS GRANDES -> ej.: computadora, televisor */
@media (min-width: 700px) {
    mat-toolbar {
        background: rgb(99,99,122);
background: linear-gradient(90deg, rgba(99,99,122,1) 0%, rgba(74,74,125,1) 27%, rgba(95,85,171,1) 50%, rgba(32,17,34,1) 100%);
        color: antiquewhite;
       
    }

    #menuSecciones {
        display: none;
    }
}


/*cambiamos el color del navbar*/

.span{
    color: black;
    
}


.logo {
    width: 90px;  /* Ancho de 100 píxeles */
    height: 90px; /* Alto de 100 píxeles */
    object-fit: contain; /* Mantiene la proporción de la imagen */
}

button{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}