<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of coleccionProductos">
            <th scope="row">1</th>

            
            <td><img src="{{producto.Imagen}}" alt="{{producto.Alt}}"></td>
            <td>{{producto.Nombre}}</td>
            <td>{{producto.Precio}}</td>
            <td>{{producto.Descripcion}}</td>
            <td>{{producto.Categoria}}</td>

            <!--ACCIONES-->
                <td>
                    <button id="btn-edit" title="Editar" type="button" class="btn btn-outline-warning">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
                <td>
                    <button id="btn-edit" title="Eliminar" type="button" class="btn btn-outline-danger">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
        </tr>
    </tbody>
</table>
<!-- boton para agregar producto -->
<button type="button" class="btn btn-online-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
    Agregar un nuevo producto
  </button>
  
  <!-- modal para agregar producto -->
  <div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!--CUERPO DE MODAL-->
        <div [formGroup]="producto" class="modal-body">
            <!--NOMBRE-->
          <div class="mb-3">
            <label class="form-label">Ingrese el nuevo producto</label>
            <input class="form-control" type="text" formControlName="nombre" placeholder="ej:auriculares jbl">
          </div>
          <!--PRECIO-->
          <div class="mb-3">
            <label class="form-label">Ingrese precio del producto</label>
            <input class="form-control" type="number" formControlName="precio">
          </div>
          <!--DESCRIPCION-->
          <div class="mb-3">
            <label class="form-label">Ingrese descripcion del producto</label>
            <input class="form-control" type="text" formControlName="descripcion" placeholder="color rojo ">
          </div>
        <!--CATEGORIA-->
          <div class="mb-3">
          <div class="mb-3">
            <label class="form-label">Ingrese categoría del producto</label>
            <select class="form-control" formControlName="categoria">
                <option value="auriculares">auriculares</option>
                <option value="celulares">celulares</option>
                <option value="mouses">mouses</option>
                <option value="teclados">teclados</option>
            </select>
        </div>
        
          <!--IMAGEN-->
          <div class="mb-3">
            <label class="form-label">Ingrese una imagen</label>
            <input class="form-control" type="text" formControlName="imagen" placeholder="ingrese vinculo de imagem">
          </div>
          <!--ALT   -->
          <div class="mb-3">
            <label class="form-label">Ingrese un texto alternativo</label>
            <input class="form-control" type="text" formControlName="alt" placeholder="ingrese un texto alternativo">
          </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn-outline-success" data-bs-dismiss="modal" (click)="agregarProducto()">guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
        </div>
      </div>
    </div>
  </div>
