<h1 id="titulo">Kila</h1>
<div class="outer-container">
  <div class="inner-container">
      <!-- Tu contenido va aquí -->

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active"> 
  
        <a routerLink="/Auriculares"> <!-- Usa solo la ruta de la ruta configurada -->
            <img mat-card-image src="./assets/fotos-inicio/auriculares.jpg" class="d-block w-100" alt="Auriculares">
        </a>
    </div>
    
    <div class="carousel-item">
      <a routerLink="/Celulares">
        <img src="./assets/fotos-inicio/Celular.jpg"  class="d-block w-100"  alt="Celular">
      </a>
    </div>

    <div class="carousel-item">
      <a routerLink="/Teclados" >
        <img src="./assets/fotos-inicio/teclado.png" class="d-block w-100"  alt="...">
      </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>

<!--card 1-->
<img src="./assets/cardmouses/mouse1.png" alt="">

<!--card 2-->
<div> 
  <h1>Nosotros</h1>
  <app-card></app-card> 
  <mat-card class="example-card responsive-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-content>
        <img mat-card-xl-image src="./assets/fotos-inicio/descripcion.png"> <!-- Mueve la imagen aquí -->
          <h2>kila</h2>
          {{longText}}
        </mat-card-content>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  
  
</div>

