/* Estilo para el contenedor principal */
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
    padding: 10px;
    justify-content: center; /* Centra los elementos horizontalmente */
}

/* Estilo para centrar el texto en los encabezados */
h1 {
    text-align: center;
}
app-cardauriculares{
    display: flex;
    justify-content: center;
}
/* Estilo para cada tarjeta o contenido */
.contenido {
    width: 200px; /* Tamaño fijo, puede ajustarse según sea necesario */
    display: inline-block; /* Permite que los elementos se muestren en línea */
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Agrega una ligera sombra */
    background-color: #fff; /* Fondo blanco */
}

/* Estilo para los párrafos dentro de las tarjetas */
p {
    padding: 5px;
}

/* Consultas de medios para pantallas pequeñas */
@media (max-width: 700px) {
    .container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos verticalmente */
    }

    .contenido {
        width: 100%; /* Asegura que los elementos ocupen todo el ancho disponible */
    }
}

/* Consultas de medios para pantallas medianas y grandes */
@media (min-width: 700px) {
    .contenido {
        width: 300px; /* Ajusta el ancho para pantallas más grandes */
    }
}

/* Estilo para las tarjetas */
.example-card {
    margin-bottom: 20px; /* Espacio entre tarjetas */
}

/* Estilo para las imágenes dentro de las tarjetas */
img.mat-card-image {
    width: 100%; /* Ajusta el ancho para que se ajuste al contenedor */
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}


/*titulo*/
.title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
    color: rgb(156, 88, 43);
   
  }