.col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Si quieres que en pantallas pequeñas se ajusten */
  }
  
  .contenido {
    width: 250px; /* Establece el ancho de la columna */
    margin: 10px; /* Espaciado entre las tarjetas */
  }
  
  mat-card {
    width: 100%; /* Para que la tarjeta ocupe todo el ancho de la columna */
  }
  
  mat-card img {
    height: auto;
    width: 250px; /* Controla el tamaño de la imagen */
  }
  