<div class="container">
  <div class="row">
      <h1>Inicio</h1>

      <div class="col">
          <div *ngFor="let i of info" class="contenido">
              <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title>{{i.Nombre}}</mat-card-title>
                  </mat-card-header>
                  <img mat-card-image src="{{i.Imagen}}" alt="{{i.Alt}}">
                  <mat-card-content>
                    <p>
                      {{i.Descripcion}}
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions>
                </mat-card>                
          </div>
      </div>
  </div>
</div>