/* Asegura que las columnas tengan la misma altura */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Asegura que las cards tengan la misma altura */
.app-cards {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Asegura que el contenido de las cards se ajuste */
.app-cards .card-body {
  flex-grow: 1;
}
