<div class="container">
    <div class="row">
  
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/proyecto/src/assets/cardsauriculares/a.inalm1.png" class="d-block w-100" alt="Primer item">
                </div>
                <div class="carousel-item" *ngFor="let producto of productoCarrusel">
                    <img src="{{producto.Imagen}}" class="d-block w-100" alt="{{producto.Alt}}">
                </div>
            </div>
  
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
  
        <div class="col">
            <app-cards
            (productoAgregado) = "productoAnadido($event)"
            [productoReciente] = "product"
            ></app-cards>
        </div>
    </div>
  
