/* Asegura que las columnas tengan la misma altura */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Asegura que las cards tengan la misma altura */
.app-cards {
  display: flex;
  flex-direction: column;

  height: 200px; /* Altura fija para las imágenes */
  object-fit: cover; /* Ajusta la imagen para que no se distorsione */
  width: 100%; /* Ocupar todo el ancho del contenedor */
}

/* Asegura que el contenido de las cards se ajuste */
.app-cards .card-body {
  flex-grow: 1;
}
